<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Lista de tarefas</h1>
    <main>
        <div class="site createTask">
            <input class="inputTask" type="text" placeholder="Crie uma tarefa...">

            <button class="addTask">
                add
            </button>
        </div>

        <h3>a fazer</h3>
        <div class="site todo">
            <div class="task">
                <p class="nameTask">Fazer trabalho</p>

                <div class="options">
                    <button class="check">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                            <path d="M5,3C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2H5z M19,19H5V5h14V19z"></path>
                            </svg>
                    </button>
                    
                    <button class="deleteTask">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                            <path d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <h3>Feito</h3>
        <div class="site done">
            <!-- lugar onde ficaram as tarefas concluidas -->
        </div>
    </main>
</body>
</html>